
body::before{
    display: block;
    content: "";
    height: 60px;
     }
   @media(min-width:768px){
   .news-input{
       width:50%;}
   }
   #map{
       width: 100%;
       height:100%; 
       border:10%;
   }
   .logo{
    margin: 0% 0 0 0;
   }
   .d-sm-block{
    width: 30%;
   }
   .btn-primary {
    margin-bottom: 50px;
   }

   
   .gallery, .row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px; /* Adjust this value to control the spacing between images */
  }

  .gallery,.md-4 {
    padding: 15px; /* Adjust this value to control the spacing between images */
  }
  
  .rounded-circle{
    align-items: center;
    justify-content: center;
    text-align: center;

  }